<div class="card">
  <img [src]="post.thumbnail" class="circle" />

  <div class="details">
    <div class="name">{{ post.author }}</div>
    <div class="desc">{{ post.title }}</div>
    <div class="tags">
      <ng-container *ngFor="let tag of post.tags">
        <a class="tag">#{{ tag }}</a>
      </ng-container>
    </div>
    <div class="video-wrapper">
      <video [src]="post.videoUrl" controls autoplay></video>
      <div class="reaction">
        <div>
          <span class="circle-icon"
            ><fa-icon [icon]="like" class="icons"></fa-icon
          ></span>
          <span>{{ post.score }}</span>
        </div>
        <div>
          <span class="circle-icon"
            ><fa-icon [icon]="comments" class="icons"></fa-icon
          ></span>
          <span>{{ post.comments }}</span>
        </div>
        <div>
          <span class="circle-icon"
            ><fa-icon [icon]="share" class="icons"></fa-icon
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
